.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    height: 50vh;
    width: 50vh;
    border: black 1px solid;
}
.LoginText{
    font-size: 2rem;
    text-align: center;
}
.LoginForm{
    justify-items: center;
}