.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4); /* semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modalContent {
    width: 60vw;
    height: 75vh;
    max-width: 60vw;
    background-color: white;       /* solid white box */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25); /* subtle shadow */
    z-index: 1000;
    border: 2px solid black;        /* optional visible outline */

    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-rows: 10% 90%;
    grid-template-areas:
    ". exit"
    "form form";
    padding: 2rem;
    border-radius: 8px;
}
.modalExitButton{
    grid-area: exit;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    overflow: hidden;
}
.formGrid{
    grid-area: form;
    display: grid;
    grid-template-columns: 10% 10% 10% 20% auto;
    grid-template-rows: repeat(20, 5%);
    overflow: hidden;
}
.titleLabel{
    grid-row: 2 / 3;
    grid-column: 2 / 2;
}
.titleInput{
    grid-row: 3 / 4;
    grid-column: 2 / 6;

    box-sizing: border-box;
    resize: horizontal;
    width: 100%;
    min-width: 10%;
    max-width: 70%;
    overflow: auto;
    
}
.descriptionLabel{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}
.descriptionInput{
    grid-row: 6 / 9;
    grid-column: 2 / 6;

    box-sizing: border-box;
    resize: horizontal;
    width: 100%;
    max-width: 50%;
    min-width: 10%;
    overflow: auto;
}
.priceLabel{
    grid-row: 10 / 11;
    grid-column: 2 / 3;
}
.priceInput{
    grid-row: 11 / 12;
    grid-column: 2 / 2;
}
.createListingButton{
    grid-row: 14 / 15;
    grid-column: 3 / 4;
}