.listingContainer{
    min-height: 100vh
}
.listingContent{
    margin-top: 1rem;
    border: 1px solid black;
    width: 70%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: 50% 50%;
}
.listingImageContainer{
    grid-column: 1 / 2;
    grid-row: 1 / 7;

    height: 100%;
    width: 100%;
    border: 1px solid black;
}
.listingImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listingName{
    padding-left: 1rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: first baseline;
}
.listingDivider{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 90%;
    margin-left: 1rem;
    border: none;
    border-top: 2px solid #ccc;
}
.listingOwnerUsernameLink{
    padding-left: 1rem;
    align-self: first baseline;
    justify-self: first baseline;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 1rem;
}
.listingOwnerUsername{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bold;
}
.listingPrice{
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    margin: 0;
    align-self: first baseline;
    justify-self: first baseline;
}
.listingAddToCartButton{
    font-size: 2em;
    padding: 10px;
    border-radius: 0.75em;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
    align-self: center;
    justify-self: center;
}
.listingDescriptionHeader{
    font-size: 2em;
    grid-column: 1 / 2;
    grid-row: 8 / 9;
}
.listingDescriptionContainer{
    border-radius: 1em;
    border: 1px solid black;
    grid-column: 1 / 3;
    grid-row: 9 / 11;
}
.listingDescription{
    word-break: break-word;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}