.container{
    height: 100vh;
}
.heading{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    height: 80px;
}
.header{
    font-size: 2rem;
    margin-left: 15vw;
}

.createListingButton{
    padding: 0.5rem;
    font-size: 1.8rem;
    margin-right: 2.5vw;
    border-radius: 0.6rem;
}
.listingsGrid{
    border: 1px solid black;
    width: 50%;
    height: 100vh;
    align-content: center;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: 1fr;

    margin-left: auto;
    margin-right: auto;
}
.listing{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-areas: 
    "listingImageContainer listingInformationContainer listingButtonContainer"
    ;
}
.listingImageContainer{
    border: 1px solid black;
    grid-area: listingImageContainer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.listingImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.listingInformationContainer{
    border: 1px solid black;
    grid-area: listingInformationContainer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.listingName{
    font-weight: 600;
    margin: 0;
    padding: 0;
}
.listingPrice{
    margin: 0;
    padding: 0;
}
.listingButtonsContainer{
    border: 1px solid black;
    grid-area: listingButtonContainer;
    display: grid;
    grid-template-columns: 50% 50%
}

/* 
- use rem/em for font sizes and spacing for accessibility
- use % or vw/vh for layout widths and heights for responsiveness
*/