body{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    width: 100%;
    /* border: 1px dashed red; */
}
.MessageContainer{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.Message{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    grid-column-start: 2;
    grid-column-end: 5;
}
.ListingsGridContainer{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 10vh);
}
.ListingsGrid{
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 8;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.Listing{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 1px solid black;
}
.ListingImage{
    height: 60%   
}
.ListingName{
    /* border: 1px solid black; */
    text-align: center;
    width: 50%;
    align-self: center;
    margin-bottom: 0;
}
.ListingPrice{
    margin-top: 0;
    /* border: 1px solid black; */
    text-align: center;
    width: 50%;
    align-self: center;
}
.ListingButton{
    width: 50%;
    height: 10%;
    align-self: center;
    border-radius: 5px;
    cursor: pointer;
}
.Loading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}